<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body style = background-color:#145078;>
    {% include 'aboutheader.html' %}
    <br>
    <center >
      <h1 style="color:white">User's Guide</h1>
      <hr style="color:white; width: 60%;">
    </center>
    
    <center>
    <div class = container-fluid style="margin-top: 30px; margin-bottom: 30px; max-width:700px;background-color:white;"  >
    
    
    <hr>
    
   
    
      <p >
        Welcome to the Trenton Area Soup Kitchen volunteer and admin submission form. This site serves as a tool to
        help TASK volunteers and administrators gather and aggregate demographic data regarding Soup Kitchen patrons.
      </p>
      <p >
        To use the site, please login as a volunteer or administrator using the credentials given to you. 
      </p>
      <p >
        If you are a volunteer: First, please select the soup kitchen you are collecting
        data for. Upon selecting this, you will be directed to an information form sheet, with data regarding
        race (of which you shoud select all), preferred language of communication (by default English), age range, 
        their zip code, gender, homeless status, veteran status, disability status, and a field indicating
        if the information you collected was asked from the participant or an educated guess. 
        Fill out the fields to the best of your (and the patron's) ability, as all fields are optional other 
        than the "Guess" field, which is required. Please provide exactly one submission per patron per meal event,
        and try to avoid breaking it into multiple submissions. 
      </p>
      <p >
        You may view your previous submission with the previous submission button in the corner to check for a mistake,
        and delete the previous submission using the undo button below the submit button. 
      </p>
      <p>
        If you are an admin, you may access all volunteer functionalities, as well as look at all past data from meal sites. 
        You can filter, collect statistics, and make pie charts, bar graphs, and time based line graphs regarding the 
        demographic data. Please see the tool tips in the admin interface for more instructions.
      </p>
      <p>
        You can also add new users as volunteers or administrators by going to the "Register Users" page in the admin navigation bars, 
        and you can also view the current volunteers and administrators under the "View Users" page.
      </p>
   
 

</div>
</center>
  </body>
  </html>