<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
    </head>
    <body>
        {% include 'header.html' %}

        

        <table border="1" class="dataframe"> 
            <div style="margin-top: 10px;">
                <h2>Patron Data</h2>
            </div>
            
            <thead> 
                <tr style="text-align: right;"> 
                    <th></th> 
                    <th>service_timestamp</th> 
                    <th>meal_site</th> 
                    <th>race</th> 
                    <th>gender</th> 
                    <th>age_range</th> 
                </tr> 
            </thead> 
            <tbody> 
                {% for row in range(data|length): %}
                <tr> 
                    <th>{{row}}</th> 
                    {% for field in data.iloc[row]: %}
                        <td>{{field}}</td>   
                    {% endfor %}
                </tr>     
                {% endfor %}
                    
            </tbody> 
        </table>
        <div style="margin-top: 10px;">
            <h2>Patron Graphs</h2>
        </div>
        {% include 'footer.html' %}
    </body>
</html>