<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Patron Data</h1>
        <form action="/submitresult" method="get">
            Meal site:
            <input type="text" name="meal_site" autofocus>
            <br>
            <br>
            Language:
            <input type="text" name="language" autofocus>
            <br>
            <br>
            Age range:
            <input type="text" name="age" autofocus>
            <br>
            <br>
            Gender:
            <input type="text" name="gender" autofocus>
            <br>
            <br>
            Zip code:
            <input type="text" name="zipcode" autofocus>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        <strong>Previous name entered: {{prev_name}}</strong>
        <br>
        <br>
        {% include 'footer.html' %}
    </body>
</html>