<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
    </head>
    

    <body class="forceMaven">
    {% include 'header.html' %}
    <div class="container-fluid">
		<div style="margin-top: 10px;">
			<h2>Enter Patron Data</h2>
		</div>
		<hr>
		<form id = "patronForm" action="/submitpatrondata" method="get">
			<table>
				<tr>
					<td align="right">Race:</td>
					<td>
						<input class="form-select patronInput" type="search" name="race" list = "races">
					</td>
				</tr>
                <tr>
					<td align="right">Language:</td>
					<td>
						<input class="form-select patronInput" name="language" list = "languages">
					</td>
				</tr>
                <tr>
					<td align="right">Age range:</td>
					<td>
						<input class="form-select patronInput" name="age_range" list = "ages">
					</td>
				</tr>
                <tr>
					<td align="right">Gender:</td>
					<td>
						<input class="form-select patronInput" name="gender" list = "genders">
					</td>
				</tr>
                <tr>
					<td align="right">Zip code:</td>
					<td>
						<input class="form-select patronInput" name="zip_code">
					</td>
				</tr>
                <tr>
					<td align="right">Homeless:</td>
					<td>
						<input class="form-select patronInput" name="homeless" list = "homeless_options">
					</td>
				</tr>
                <tr>
					<td align="right">Veteran:</td>
					<td>
						<input class="form-select patronInput" name="veteran" list = "veteran_options">
					</td>
				</tr>
                <tr>
					<td align="right">Disabled:</td>
					<td>
						<input class="form-select patronInput" name="disabled" list = "disabled_options">
					</td>
				</tr>
                <tr>
					<td align="right">Patron response:</td>
					<td>
                        <input class="form-select patronInput" name="patron_response" list = "patron_response_options">
                        <!-- <div class = 'row'>
							<div class="btn-group btn-group-toggle col-sm-8" role="group" data-toggle = "buttons">
                                <input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-True" name="true" value="True" checked>
                                <input type="radio" class="btn-check form-control profileInput mainButton" id="btn-check-False" name="false" value="False">
                                <input type="radio" class="btn-check form-control profileInput mainButton" id="btn-check-False" name="false" value="Unknown">
                            </div>
                        </div> -->
					</td>
				</tr>
                <tr>
                    <td>
						<input id='submit' class="form-control patronInput mainButton enter-button"
							type="submit" value="Submit">
					</td>
                </tr>
                
            </table>
        </form>
        {% include 'footer.html' %}
    </div>
</body>

<datalist id = "races">
	{% for race in races %}
	<option value={{race}}>
	{% endfor %}
</datalist>

<datalist id = "languages">
	{% for language in languages %}
	<option value={{language}}>
	{% endfor %}
</datalist>

<datalist id = "genders">
	{% for gender in genders %}
	<option value={{gender}}>
	{% endfor %}
</datalist>

<datalist id = "ages">
	{% for age in ages %}
	<option value={{age}}>
	{% endfor %}
</datalist>

<datalist id = "homeless_options">
	{% for h_option in homeless_options %}
	<option value={{h_option}}>
	{% endfor %}
</datalist>

<datalist id = "veteran_options">
	{% for v_option in homeless_options %}
	<option value={{v_option}}>
	{% endfor %}
</datalist>

<datalist id = "disabled_options">
	{% for d_option in homeless_options %}
	<option value={{d_option}}>
	{% endfor %}
</datalist>

<datalist id = "patron_response_options">
	{% for pr_option in homeless_options %}
	<option value={{pr_option}}>
	{% endfor %}
</datalist>

<!-- <script type = "text/javascript" src = "../static/js/prefmatchbuttons.js">
</script>
<script>

	let form = document.getElementById('patronForm');
	let matchPrefOptionSelected = false;
	let majorPrefButton = document.getElementById("toggle-button-Major/Year");
	let randomPrefButton = document.getElementById("toggle-button-Random");
	let prefErrorBox = document.getElementById('prefErrorBox');


	let initiallyActiveButtons = document.getElementsByClassName('active-button');
	
	if(initiallyActiveButtons.length > 0)
		matchPrefOptionSelected = true;




	function registerSelectedMatchPref () { 
		
		matchPrefOptionSelected = true; 
		
 }

	majorPrefButton.addEventListener('click', registerSelectedMatchPref);
	randomPrefButton.addEventListener('click', registerSelectedMatchPref);



	form.addEventListener('submit', (event) => {
		if(!matchPrefOptionSelected)
			{
				
				event.preventDefault();
				prefErrorBox.classList.remove('noError');
				prefErrorBox.classList.add('error');

			}
	})
	
</script> -->


</html>