<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body style = background-color:#145078;>
    {% include 'header.html' %}
    <center>
    <div class = container-fluid style="width:70%;background-color:white; margin-left: 15% ;position: absolute; padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);" align = "justify" >
    <center >
      <h1 >User Guide</h1>
    </center>
    
    <hr>
    <center >
   
    
      <p >
        Welcome to the Trenton Area Soup Kitchen volunteer and admin submission form. This site serves as a tool to
        help TASK volunteers and administrators gather and aggregate demographic data regarding Soup Kitchen patrons.
      </p>
      <p >
        To use the site, please login as a volunteer or administrator. 
      </p>
      <p >
        If you are a volunteer, you will be directed to a page, where you will select the soup kitchen you are collecting
        data for. Upon selecting this, you will be directed to an information form sheet, with data regarding
        race, language, age, zip code, gender, homeless status, veteran status, disability status, and a field indicating
        if the information you collected was from the participant or an educated guess. All fields are optional other 
        than the guess field, which is required. 
      </p>
      <p>
        Please provide exactly one submission per patron per meal event. 
      </p>
      <p >
        You may view your previous submission with the previous submission button in the corner to check for a mistake,
        and delete the previous submission using the undo button below the submit button. 
      </p>
      <p>
        If you are an admin, you may access all volunteer functionalities, as well as look at all past data from meal sites. 
        You can filter, collect statistics, and make pie charts, bar graphs, and time based line graphs regarding the 
        demographic data. Please see the tool tips in the admin interface for more instructions.
      </p>
   
 
</center>
</div>
</center>
  </body>
  </html>