<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body style = background-color:#145078;>
    {% include 'aboutheader.html' %}
    <br>
    <center >
      <h1 style="color:white">User's Guide</h1>
      <hr style="color:white; width: 60%;">
    </center>
    
    <center>
    <div class = container-fluid style="margin-top: 30px; margin-bottom: 30px; padding:2%; width:70%;margin-left:15%;background-color:white;"  >
    
    
 
    
      <h5 >

        Welcome to the Trenton Area Soup Kitchen volunteer and admin submission form. </h5>
        <br/>
        <p>This site serves as a tool to
          help TASK volunteers and administrators gather and aggregate demographic data regarding Soup Kitchen patrons.</p>


      <p >
   
        To use the site, please login as a volunteer or administrator using the credentials given to you. 
      </p>
      <br/>
        <h5>If you are a volunteer: </h5>
        <br/>
      <p >First, please select the soup kitchen you are collecting
        data for on the page "Select Mealsite". Upon selecting this, you will be directed to an information form sheet titled "Enter Diner Data". That is where you should 
        submit information about patrons regarding
        race (of which you may select mutliple), preferred language of communication, age range, 
        their zip code, gender, homeless status, veteran status, disability status, and a field indicating
        if the information you collected was asked from the participant or an educated guess. If you interviewed the diner, select false, and if you eyeballed it, select true.
        Please provide exactly one submission per patron per meal event. To view previous submissions, tap the button labeled so in the bottom right corner, and to undo a bad
        submission, tap the button in the top right corner. You may view the number of submissions you have made in the top left. 
      </p>
      <br/>
        <h5>If you are an admin:</h5> 
      </p>
        <p>You may access all volunteer functionalities, as well as look at all past data from meal sites by selecting the volunteer button from the homepage. </p>
        <p>To access the admin dashboard, select the admin button on the homepage. You will be redirected to a Analytics Dashboard with various tabs and tooltips.
          However over the question marks or the columns on the tables to learn more. You may view and filter the raw data, view a counts table and filter them, and create
          pie, bar, and time based line graphs with the demographic data by navigating between the tabs.
         
      </p>
      <p>
        You can also add edit the volunteer user database by going to the User Dashboard section in the navigation bar. You may view users in the View Users page, 
        register new volunteer accounts in the "Register Users" page, or delete users in the "Delete Users" page. You may not delete the admin account or add volunteer user accounts with the same
        username.
      </p>
   
 

</div>
</center>
  </body>
  </html>