<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    <hr>
    <!-- <h2>Welcome to the About page!</h2> -->

    <div class="row" id = "wrapper">
      <div class="col-sm-3">
        <div class="row">
          <center><h4>Race (Select All That Apply)</h4></center>
        </div>
            <div role="group" id="race-btns" data-toggle="buttons">
              
              {%for race in ['White','Black','Hispanic','Unknown']%}
              {% if race == Unknown %}
              <input type="button"  class="mainButton raceButtons" id="btn-check-{{race}}" name="race" value={{race}}>
              <!-- <label class="btn btn-secondary active-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{race}} </label> -->
              {%else%}
              <input type="button"  class="mainButton raceButtons" id="btn-check-{{race}}" name="race" value={{race}}>
              <!-- <label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{race}} </label> -->
              {%endif%}
              {%endfor%}
            </div>
        
        <div class="row">
          <center>
            <text>Other: </text>
            <select name="otherraces" id = "other-race-btns">  
              {% for race in ['Asian', 'American Indian/Alaska Native', 'Native Hawaiian/ Pacific Islander'] %}
              <option class="raceButtons" value="{{race}}">{{race}}</option>
              {% endfor %}
            </select>
          </center>
        </div>
        </div>
        <div class="row">
          <center>
            <input id='submit' class="form-control patronInput mainButton enter-button"
             type="submit" value="Submit">
         </center>
        </div>
       
    </div>

  </body>

  <script type="text/javascript" src = "/static/js/submitdatabuttons.js">
  </script>

  </html>