<nav class="navbar navbar-expand-lg navbar-light jumbotron orange-moon" style="background-color:bs-blue; margin-bottom: 0; padding-bottom: 0;">
    <div class="container-fluid" >
    <a class="navbar-brand" id="HomeButton" href="/index" style = "font-family: Nunito;">TASK Administrator Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#content">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="content">
    <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </li>
    <li class="nav-item"><a class="nav-link NB-Button" href="/admin">Analytics Dashboard</a>
    <li class="nav-item"><a class="nav-link NB-Button" href="/viewusers">View Users</a>
    <li class="nav-item"><a class="nav-link" href="/register">Register User</a></li>
    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li> 
    </ul>
    </div>
    </div>
    </nav>
    <div class = "container-fluid">
    <hr class = "hr" style = "width: 100%; border-top: 3px solid #ff911f; border-bottom: 2px #ff911f; margin-top: 0;">
    </div>
    <style>
    body {
        
        
      }</style>
    