<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
    </head>
    <body>
        {% include 'header.html' %}
        <iframe src="/dashapp" width = "100%" height = "600" frameBorder = "0"></iframe>
        <!-- <div style="margin-top: 10px;"> -->
        <h2>Demographic Graphs</h2>
        <!-- </div> -->
        <!-- <h4>Select Races </h4> 
        <div class="btn-group btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
            {%for race in ['White','Black','Hispanic','Asian', 'Native American/Alaskan Indian', 'American Indian', 'Pacific Islander', 'Nothing']%}
            <input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-check-{{race}}" name="{{race}}" value={{race}}>
            <label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{race}}</label>
            {%endfor%}
        </div>

        <h4>Select Languages </h4> 
        <div class="btn-group btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
            {%for language in ["English", "Spanish", "ASL", "Arabic", "Bengali",
            "Chinese", "Creole", "Dari", "Farsi", "French",
            "German", "Polish", "Russian", "Swahili", "Urdu",
            "Vietnamese", "Other", "Unknown"]%}
            <input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-check-{{language}}" name="{{language}}" value={{language}}>
            <label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{language}}">{{language}}</label>
            {%endfor%}
        </div>

        <h4>Select Age Ranges </h4> 
        <div class="btn-group btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
            {%for age in ["&lt;18", "18-24", "25-34", "35-44", "45-54",
            "55-64", "&gt;65", "Unknown"]%}
            <input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-check-{{age}}" name="{{age}}" value={{age}}>
            <label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{age}}">{{age}}</label>
            {%endfor%}
        </div> -->

        <!-- this iframe controls which graph dash app gets loaded on to the page
        to load the pie one, change src to "/pieapp"
        to load the bar one, change src to "/barapp" -->
        <iframe src="/pieapp" width = "100%" height = "700" frameBorder = "0"></iframe>

        {% include 'adminfooter.html' %}
    </body>
</html>
<!-- <a href="/dashapp/" class="dash-link">
    <span>Login</span>
</a> -->
