<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
        {% include 'imports.html' %}
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
    </head>
    <body>
        {% include 'header.html' %}
        <hr>
        <div class="container-fluid" style = "background-color :white;margin-left: 25%;
        margin-right: auto;width:50%; position: absolute; padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);">
            <center><h1>Select Mealsite</h1></center>
            <br>
            <center>
                <form action="/submitpatrondata" method="get">
                    <div class="row">
                        <center>
                            <select name="mealsite" id = "mealsite"style = " width:250px;">  
                            {% for site in mealsites %}
                            <option value="{{site}}">{{site}}</option>
                            {% endfor %}
                        </select>
                    </center>
                        
                    </div>
                    <br>
                    <div class="row">
                        <center>
                            <input id='go' type= "submit" class="form-control mainButton enter-button" style="background: #145078;color:white; width:250px;"
                            type="button" value="Go">
                        </center>
                    </div>
                </form>
            </center>
        </div>
       
        <br>
        <!-- {% include 'footer.html' %} -->
    </body>

    <script>
        $(function(){
         $("#mealsite").select2();
        }); 
    </script>
</html>
<style>
    html {
      height: 100%;
    }
    body {
      /* background: url(https://i.ibb.co/YBWpstC/indexb.jpg) no-repeat center center fixed; */
      background-image: url('/static/photos/kitchen.jpg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #FEF6F6;
    }
  </style>
<!-- <datalist id = "mealsites">
	{% for site in mealsites %}
	<option value={{site}}>
	{% endfor %}
</datalist> -->