<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
        {% include 'imports.html' %}
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
    </head>
    <body>
        {% include 'header.html' %}
        <hr>
        <div class="container-fluid">
            <center><h1>Select Mealsite</h1></center>
            <br>
            <center>
                <form action="/submitpatrondata" method="get">
                    <div class="row col-sm-4">
                        <select name="mealsite" id = "mealsite">  
                            {% for site in mealsites %}
                            <option value="{{site}}">{{site}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="row col-sm-3">
                        <center>
                            <input id='go' type= "submit" class="form-control mainButton enter-button" style="background: #145078;color:white"
                            type="button" value="Go">
                        </center>
                    </div>
                </form>
            </center>
        </div>
       
        <br>
        <!-- {% include 'footer.html' %} -->
    </body>

    <script>
        $(function(){
         $("#mealsite").select2();
        }); 
    </script>
</html>

<!-- <datalist id = "mealsites">
	{% for site in mealsites %}
	<option value={{site}}>
	{% endfor %}
</datalist> -->