<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
		{% include 'imports.html' %}
    </head>
    

    <body class="forceOpenSans">
    {% include 'header.html' %}
    <div class="container-fluid">
		<div style="margin-top: 10px;">
			<h2>Enter Patron Data</h2>
		</div>
		<hr>
		<form id = "patronForm" action="/submitpatrondata" method="get">
			<table>
				<tr>
					<td align="right">Race:</td>
					<td>
						<input class="form-select patronInput" type="search" name="race" list = "races">
					</td>
				</tr>
                <tr>
					<td align="right">Language:</td>
					<td>
						<input class="form-select patronInput" name="language" list = "languages">
					</td>
				</tr>
                <tr>
					<td align="right">Age range:</td>
					<td>
						<input class="form-select patronInput" name="age_range" list = "ages">
					</td>
				</tr>
                <tr>
					<td align="right">Gender:</td>
					<td>
						<input class="form-select patronInput" name="gender" list = "genders">
					</td>
				</tr>
                <tr>
					<td align="right">Zip code:</td>
					<td>
						<input class="form-select patronInput" name="zip_code">
					</td>
				</tr>
                <tr>
					<td align="right">Homeless:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput" id="btn-check-homeless-{{option}}" name="homeless" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-homeless-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Veteran:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-veteran-{{option}}" name="veteran" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-veteran-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Disabled:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-disabled-{{option}}" name="disabled" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-disabled-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Patron response:</td>
					<td>
                        <div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-presp-{{option}}" name="patron_response" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-presp-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
                    <td>
						<input id='submit' class="form-control patronInput mainButton enter-button"
							type="submit" value="Submit">
					</td>
					<td>
						<input id='switch' class="form-control patronInput mainButton enter-button" 
						 type="button" onclick="location.href='/selectmealsite';" value="Switch Mealsite">
					</td>
					<td>
						<input id='logout' class="form-control patronInput mainButton enter-button"
						type="button" onclick="location.href='/index';" value="Log out">
					</td>
                </tr>
                
            </table>
        </form>
        {% include 'footer.html' %}
    </div>

	<!-- <script type = "text/javascript" src = "../static/js/patrondatabuttons.js"></script>
<script>
	let form = document.getElementById('patronForm');
	let patronResponseSelected = false;
	let trueButton = document.getElementById("toggle-button-True");
	let falseButton = document.getElementById("toggle-button-False");
	let unknownButton = document.getElementById("toggle-button-Unknown");
	let prefErrorBox = document.getElementById('prefErrorBox');


	let initiallyActiveButtons = document.getElementsByClassName('active-button');
	
	if(initiallyActiveButtons.length > 0)
		optionSelected = true;

	function registerSelected () { 
		optionSelected = true; 	
 	}

	trueButton.addEventListener('click', registerSelected);
	falseButton.addEventListener('click', registerSelected);
	unknownButton.addEventListener('click', registerSelected);

	form.addEventListener('submit', (event) => {
		if(!optionSelected)
			{
				event.preventDefault();
				prefErrorBox.classList.remove('noError');
				prefErrorBox.classList.add('error');
			}
	}) </script> -->
	
</body>

<datalist id = "races">
	{% for race in races %}
	<option value={{race}}>
	{% endfor %}
</datalist>

<datalist id = "languages">
	{% for language in languages %}
	<option value={{language}}>
	{% endfor %}
</datalist>

<datalist id = "genders">
	{% for gender in genders %}
	<option value={{gender}}>
	{% endfor %}
</datalist>

<datalist id = "ages">
	{% for age in ages %}
	<option value={{age}}>
	{% endfor %}
</datalist>

<!-- <datalist id = "homeless_options">
	{% for h_option in homeless_options %}
	<option value={{h_option}}>
	{% endfor %}
</datalist>

<datalist id = "veteran_options">
	{% for v_option in homeless_options %}
	<option value={{v_option}}>
	{% endfor %}
</datalist>

<datalist id = "disabled_options">
	{% for d_option in homeless_options %}
	<option value={{d_option}}>
	{% endfor %}
</datalist>

<datalist id = "patron_response_options">
	{% for pr_option in homeless_options %}
	<option value={{pr_option}}>
	{% endfor %}
</datalist> -->

</html>

<style>
	.active-button {
		background-color: #ff9f46;
	}

	.inactive-button {
		background-color: #bbb;
	}
	
	.special-container{
		display: table;
		height: 100%;
	}

	.vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	}

	.active-recur-config {
		display: block !important;
	}

	.inactive-recur-config {
		display: none !important;
	}

</style>
