<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
		{% include 'imports.html' %}
    </head>
    
    <body class="forceOpenSans">
    {% include 'header.html' %}
    <div class="container-fluid">
		<div style="margin-top: 10px;">
			<center>
				<h2>Enter Diner Data</h2>
				<hr>
				<h4>You are in {{mealsite}}</h4>
			</center>
		</div>
		<hr>
		<form id = "patronForm" action="/submitpatrondata" onsubmit="return validateForm()" method="get">
			<!-- <div class="row">
				<div class="col-sm-4">
					<div class="row">
						<center><p>Race (Select All That Apply):</p></center>
					</div>
					<div class="row">
						<center>
							<div class="btn-group btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
								{%for race in ['White','Black','Hispanic','Asian']%}
								<input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-check-{{race}}" name="{{race}}" value={{race}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{race}}</label>
								{%endfor%}
							</div>
						</center>
					</div>
					<div class="row">
						<center>
							<br>
							<text>Other: </text>
							<select name="otherraces" id = "otherraces">  
								{% for race in ['Unknown', 'American Indian/Alaska Native', 'Native Hawaiian/ Pacific Islander'] %}
								<option value="{{race}}">{{race}}</option>
								{% endfor %}
							</select>
						</center>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<center><p>Language:</p></center>
					</div>
					<div class="row">
						<center>
							<div class="btn-group btn-group-toggle" role="group" id="lang-btns" data-toggle="buttons">
								{%for lang in ['English','Spanish']%}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-{{lang}}" name="lang" value={{lang}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{lang}}" for="btn-check-{{lang}}">{{lang}} </label>
								{%endfor%}
							</div>
						</center>
					</div>
					<div class="row">
						<center>
							<br>
							<text>Other: </text>
							<select name="otherlangs" id = "otherlangs">  
								{% for lang in languages %}
								<option value="{{lang}}">{{lang}}</option>
								{% endfor %}
							</select>
						</center>
					</div>
				</div>
				<div class="col-sm-4">
					
				</div>
			</div> -->
			<center>
			<table>
				<tr>
					<td align="right">Race (Select All That Apply): </td>
					<td>
						<center>
						<div class="btn-group btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
							{%for option in ['White','Black','Hispanic','Asian','American Indian', 'Pacific Islander', 'Other']%}
							{% if (racecheck==option) %}
							<input type="checkbox" checked class="btn-check form-control patronInput mainButton" id="btn-check-{{option}}" name="{{option}}" value={{race}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{option}}</label>
							{% else %}
							<input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-check-{{option}}" name="{{option}}" value={{race}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{option}}</label>
							{% endif %}
							{% endfor %}
						</div>
							<!-- <text> Other: </text>
							<select name="otherraces" id = "otherraces">  
								{% for race in ['Unknown'] %}
								<option value="{{race}}">{{race}}</option>
								{% endfor %}
							</select> -->
						</center>
					</td>
				</tr>
                <tr>
					<td align="right">Language: </td>
					<td>
						<div class="btn-group btn-group-toggle" role="group" id="lang-btns" data-toggle="buttons">
							{%for lang in ["English", "Spanish", "ASL", "Arabic", "Bengali",
							"Chinese", "Creole"]%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-{{lang}}" name="language" value={{lang}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-button-{{lang}}" for="btn-check-{{lang}}">{{lang}} </label>
							{%endfor%} 
							<!-- ask vicky how she did this -->
						</div>
						<text>Other: </text>
						<select name="otherlangs" id = "otherlangs">  
							{% for lang in otherlanguages %}
							<option value="{{lang}}">{{lang}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
                <tr>
					<td align="right">Age range:</td>
					<td>
						<input class="form-select patronInput" name="age_range" list = "ages">
					</td>
				</tr>
                <tr>
					<td align="right">Gender:</td>
					<td>
						<div class="btn-group btn-group-toggle" role="group" id="gender-btns" data-toggle="buttons">
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-male" name="gender" value="Male">
							<label class="btn btn-secondary inactive-button" id = "toggle-button-male" for="btn-check-male">Male</label>
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-female" name="gender" value="Female">
							<label class="btn btn-secondary inactive-button" id = "toggle-button-female" for="btn-check-female">Female</label>
						</div>
							<text> Other: </text>
							<select name="otherraces" id = "otherraces">  
								{% for race in ['Unknown', 'American Indian/Alaska Native', 'Native Hawaiian/ Pacific Islander'] %}
								<option value="{{race}}">{{race}}</option>
								{% endfor %}
							</select>
					</td>
				</tr>
                <tr>
					<td align="right">Zip code:</td>
					<td>
						<input class="form-select patronInput" name="zip_codes" list = "zip_codes">
					</td>
				</tr>
                <tr>
					<td align="right">Homeless:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput" id="btn-check-homeless-{{option}}" name="homeless" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-homeless-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Veteran:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-veteran-{{option}}" name="veteran" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-veteran-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Disabled:</td>
					<td>
						<div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False', 'Unknown'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-disabled-{{option}}" name="disabled" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-disabled-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
                <tr>
					<td align="right">Diner response:</td>
					<td>
                        <div class = 'row'>
							<div class="btn-group btn-group-toggle" role="group" data-toggle = "buttons">
								{%for option in ['True', 'False'] %}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-check-presp-{{option}}" name="presp" value={{option}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{option}}" for="btn-check-presp-{{option}}">{{option}} </label>
								{%endfor%}
                            </div>
                        </div>
					</td>
				</tr>
            </table>
		</center>
		<div class="row">
			<tr>
				<div class="col-sm" style="width:20%; align-content:right;">
					<center>
						<input id='switch' class="form-control patronInput mainButton enter-button" 
						 type="button" onclick="location.href='/selectmealsite';" value="Switch Mealsite">
					</center>
				</div>
				<div class="col-sm" style="width:20%; align-content:center;">
					<center>
						 <input id='submit' class="form-control patronInput mainButton enter-button"
							type="submit" value="Submit">
					</center>
				</div>
				
				<div class="col-sm" style="width:20%; align-content:left;">
					<center>
						<input id='logout' class="form-control patronInput mainButton enter-button"
						type="button" onclick="location.href='/index';" value="Log out">
					</center>
				</div>
			</tr>
		</div>
		
        </form>
		<div class="row">
			<tr>
				<div class="col-sm" style="width:20%; align-content:left;">
					<center>
						<input id='getlast' class="form-control patronInput mainButton enter-button"
						type="button" onclick="location.href='/getlastpatron';" value="Previous Submission">
					</center>
				</div>
				<div class="col-sm" style="width:20%; align-content:left;">
					<center>
						<input id='deletelast' class="form-control patronInput mainButton enter-button"
						type="button" onclick="location.href='/deletelastpatron';" value="Undo Previous Submission">
					</center>
				</div>
			</tr>
		</div>
		
        {% include 'footer.html' %}
    </div>
	
</body>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<script>
	'use strict';
	function validateForm() {
		
		var x = document.forms["patronForm"]["presp"].value;
		console.log(x)
		if (x == '') {
		alert("Please select True or False for Guess.");
			return false;
		}
		return true;
	}
	function handleResponse(response)
	{
		$('#error').html(response);
	}
	let request = null;
	function getResults()
	{
		
		request = $.ajax(
			{
				type: 'GET',
				url:url,
				success: handleResponse
			}
		);
	}
	function setup()
	{
		$(window).on('load', getResults);
		$('#dept').on('input', getResults);
		$('#coursenum').on('input', getResults);
		$('#area').on('input', getResults);
		$('#title').on('input', getResults);
	}
	$('document').ready(setup);
</script>

</html>

<style>
	.active-button {
		background-color: #ff9f46;
	}

	.inactive-button {
		background-color: #bbb;
	}
	
	.special-container{
		display: table;
		height: 100%;
	}

	.vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	}

	.active-recur-config {
		display: block !important;
	}

	.inactive-recur-config {
		display: none !important;
	}
	body {
	background-image: "static/background.jpg";
	background-color: #cccccc;
	}

</style>
