<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
		{% include 'imports.html' %}
    </head>
    <body class="forceOpenSans">
			<div id="wrapper">
			</div>
    {% include 'header.html' %}
    <div class="container-fluid"style ="margin-top: 50px; max-width:750px; justify-content:center; background-color:white" >
		<div style="margin-top: 10px;">
			<center>
				<h2 style ="margin-left: 15%; margin-right: 15%; width:70%; padding: 2%;justify-content:center; background-color:white">Enter Diner Data</h2>
				<hr>
				<h4 id = 'mealsitebtn' value = {{mealsite}} style ="margin-left: 15%; margin-right: 15%; width:70%; justify-content:center; background-color:white">You are in {{mealsite}}</h4>
				<hr>
				<div class = 'row'>

				<div style = "float:center;width:60%;margin-top:1%"><h5 style =" width:100%; justify-content:center; background-color:white;"> Number of submissions: {{num}}</h5></div>
				
				<div class="col-sm-2" style="width:100%; align-content:right;float:right;width:40%">
					<center>
						<input id='deletelast' class="form-control patronInput mainButton enter-button"
						type="button" onclick="validateForm();location.href='/deletelastpatron?mealsite={{mealsite}}';" value="Undo Previous Submission">
					</center>
				</div>
			</div>
			</center>
		</div>
		<hr>
		<form id = "patronForm" action="/submitpatrondata?mealsite={{mealsite}}"  method="get">
			<div class="row" id = "wrapper">
				<div class="col-sm-4">
					<center>
						<div class="row">
							<center><p>Race (Select All That Apply)</p></center>
						</div>
							<div class="btn-group-vertical btn-group-toggle" role="group" id="race-btns" data-toggle="buttons">
								<!-- <input type="checkbox" class="btn-check" checked id="btn" autocomplete="off">
								<label class="btn btn-secondary inactive-button" for="btn">btn</label> -->
								{%for race in ['White','Black','Hispanic','Unknown']%}
								{% if race == 'Unknown' %}
								<input type="checkbox" class="btn-check form-control patronInput mainButton" checked id="btn-race-{{race}}" autocomplete="off" name="race" value={{race}}>
								<label class="btn btn-secondary inactive-button" for="btn-race-{{race}}">{{race}}</label>
								<!-- <label class="btn btn-secondary active"> 
									<input type="checkbox" checked class="btn-check" id="btn-{{race}}" name="race" value={{race}}> {{race}}
								</label> -->
								{%else%}
								<input type="checkbox" class="btn-check form-control patronInput mainButton" id="btn-{{race}}" autocomplete="off" name="race" value={{race}}>
								<label class="btn btn-secondary inactive-button" for="btn-{{race}}">{{race}}</label>
								{%endif%}
								<!-- <label id = "toggle-button-{{race}}" for="btn-check-{{race}}">{{race}} </label> -->
								{%endfor%}
								<select class="form-select-sm" id="race-multiselect" multiple="multiple" name="race" style="width: 120.5px">  
									<!-- <option selected>More options</option> -->
									{% for race in ['Asian', 'American Indian/Alaska Native', 'Native Hawaiian/ Pacific Islander'] %}
									<option value="{{race}}">{{race}}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							</div>
							
						
						<!-- <div class="row">
							<center>
								<text>Other: </text>
								<select name="otherraces" id = "otherraces">  
									{% for race in ['Unknown', 'American Indian/Alaska Native', 'Native Hawaiian/ Pacific Islander'] %}
									<option value="{{race}}">{{race}}</option>
									{% endfor %}
								</select>
							</center>
						</div> -->
					</center>
				</div>
				
				<div class="col-sm-4">
					<div class="row">
						<center><p>Age Range</p></center>
					</div>
					<div class="row">
						<center>
							<div class= "btn-group-vertical" role="group" id="age-btns" data-toggle="buttons">
								{% autoescape true %}
								{%for age in ages%}
								{%if age == 'Unknown'%}
								<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-age-Unknown" name="age_range" value="Unknown">
								<label class="btn btn-secondary inactive-button" id = "toggle-age-Unknown" for="btn-age-Unknown">Unknown</label>
								{%else%}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-age-{{age}}" name="age_range" value={{age}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-button-{{age}}" for="btn-age-{{age}}">{{age}} </label>
								{%endif%}
								{%endfor%}
								
								{% endautoescape %}
							</div>
						</center>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<center><p>Zip Code</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="zip-btns" data-toggle="buttons">
							{%for zip in zip_codes%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-zip-{{zip}}" name="zip_codes" value={{zip}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-zip-{{zip}}" for="btn-zip-{{zip}}">{{zip}} </label>
							{%endfor%}
							<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-zip-Unknown" name="zip_codes" value="Unknown">
							<label class="btn btn-secondary inactive-button" id = "toggle-zip-Unknown" for="btn-zip-Unknown">Unknown </label>
							<input type="text" class="form-control patronInput" id="text-zip-input" name="zip_codes" placeholder="Other">
							<!-- <label id = "toggle-zip-Unknown" for="btn-zip-input"></label> -->
						</div>
					</center>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<center><p>Language</p></center>
					</div>
					<div class="row">
						<center>
							<div class="btn-group-vertical btn-group-toggle" role="group" id="lang-btns" data-toggle="buttons">
								{%for lang in ['English','Spanish']%}
								<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-lang-{{lang}}" name="language" value={{lang}}>
								<label class="btn btn-secondary inactive-button" id = "toggle-lang-{{lang}}" for="btn-lang-{{lang}}">{{lang}} </label>
								{%endfor%}
								<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-lang-Unknown" name="language" value="Unknown">
								<label class="btn btn-secondary inactive-button" id = "toggle-lang-Unknown" for="btn-lang-Unknown">Unknown</label>
								<select class="form-select-sm" id="lang-more-options">  
									<option selected>More options</option>
									{% for lang in otherlanguages %}
									<option id="{{lang}}-option" value="{{lang}}">{{lang}}</option>
									{% endfor %}
								</select>
							</div>
						</center>
					</div>
					<!-- <div class="row">
						<center>
							<text>Other: </text>
							<select name="otherlangs" id = "otherlangs">  
								{% for lang in otherlanguages %}
								<option value="{{lang}}">{{lang}}</option>
								{% endfor %}
							</select>
						</center>
					</div> -->
				</div>
				<div class="col-sm-4">
					<div class="row">
						<center><p>Gender</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="gender-btns" data-toggle="buttons">
						<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-gender-Male" name="gender" value="Male">
						<label class="btn btn-secondary inactive-button" id = "toggle-gender-male" for="btn-gender-Male">Male</label>
						<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-gender-Female" name="gender" value="Female">
						<label class="btn btn-secondary inactive-button" id = "toggle-gender-female" for="btn-gender-Female">Female</label>
						<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-gender-Unknown" name="gender" value="Unknown">
						<label class="btn btn-secondary inactive-button" id = "toggle-gender-Unknown" for="btn-gender-Unknown">Unknown</label>
						<select id="gender-more-options" class="form-select-sm">
							<option selected>More options</option>
							{% for gender in ['Non-Binary', 'TransMale', 'TransFemale', 'Other'] %}
							<option name="gender" value="{{gender}}">{{gender}}</option>
							{% endfor %}
						</select>
						<!-- <label class="btn btn-secondary inactive-button" id = "toggle-gender-options">
							
						</label> -->
						

						<!-- <ul class="dropdown-menu">
							{% for gender in ['Non-Binary', 'TransMale', 'TransFemale', 'Other'] %}
							<li><a class="dropdown-item" id="btn-gender-{{gender}}" name="gender" value="{{gender}}">{{gender}}</a></li>
							{% endfor %}
						</ul> -->
						</div>
					<!-- </center>
					<div class="row">
					<center>
						<select class="form-select" aria-label="Click here to select other gender options" name="othergenders">
							<option selected>More options</option>
							{% for gender in ['Non-Binary', 'TransMale', 'TransFemale', 'Other'] %}
							<option value="{{gender}}">{{gender}}</option>
							{% endfor %}
						</select>
					</center> 
					</div>-->
				</div>
				
				<div class="col-sm-4">
					<div class="row">
						<center><p>Homeless</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="homeless-btns" data-toggle="buttons">
							{%for homeless in ["Yes", "No"]%}
							{%if homeless == "Yes"%}
							{%set value = "True"%}
							{%else:%}
							{%set value = "False"%}
							{%endif%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-homeless-{{homeless}}" name="homeless" value={{value}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-homeless-{{zip}}" for="btn-homeless-{{homeless}}">{{homeless}} </label>
							{%endfor%}
							<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-homeless-Unknown" name="homeless" value="Unknown">
							<label class="btn btn-secondary inactive-button" id = "toggle-homeless-Unknown" for="btn-homeless-Unknown">Unknown</label>
						</div>
					</center>
					</div>
				</div>

				<br>
			<div class = "row">
				<div class="col-sm-4">
					<div class="row">
						<center><p>Veteran</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="veteran-btns" data-toggle="buttons">
							{%for option in ["Yes", "No"]%}
							{%if option == "Yes"%}
							{%set value = "True"%}
							{%else:%}
							{%set value = "False"%}
							{%endif%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-veteran-{{option}}" name="veteran" value={{value}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-veteran-{{option}}" for="btn-veteran-{{option}}">{{option}} </label>
							{%endfor%}
							<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-veteran-Unknown" name="veteran" value="Unknown">
							<label class="btn btn-secondary inactive-button" id = "toggle-veteran-Unknown" for="btn-veteran-Unknown">Unknown</label>
						</div>
					</center>
					</div>
				
				<div class="col-sm-4">
					<div class="row">
						<center><p>Disabled</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="disabled-btns" data-toggle="buttons">
							{%for option in ["Yes", "No"]%}
							{%if option == "Yes"%}
							{%set value = "True"%}
							{%else:%}
							{%set value = "False"%}
							{%endif%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-disabled-{{option}}" name="disabled" value={{value}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-disabled-{{option}}" for="btn-disabled-{{option}}">{{option}} </label>
							{%endfor%}
							<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-disabled-Unknown" name="disabled" value="Unknown">
							<label class="btn btn-secondary inactive-button" id = "toggle-disabled-Unknown" for="btn-disabled-Unknown">Unknown</label>
						</div>
					</center>
					</div>
				
				<div class="col-sm-4">
					<div class="row">
						<center><p>Guessed</p></center>
					</div>
					<center>
						<div class="btn-group-vertical btn-group-toggle" role="group" id="guessed-btns" data-toggle="buttons">
							{%for option in ["Yes", "No"]%}
							{%if option == "Yes"%}
							{%set value = "True"%}
							<input type="radio" class="btn-check form-control patronInput mainButton" id="btn-guessed-{{option}}" name="guessed" value={{value}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-guessed-{{option}}" for="btn-guessed-{{option}}">{{option}} </label>
							{%else:%}
							{%set value = "False"%}
							<input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-guessed-{{option}}" name="guessed" value={{value}}>
							<label class="btn btn-secondary inactive-button" id = "toggle-guessed-{{option}}" for="btn-guessed-{{option}}">{{option}} </label>
							{%endif%}
							{%endfor%}
							<!-- <input type="radio" checked class="btn-check form-control patronInput mainButton" id="btn-guessed-Unknown" name="guessed" value="Unknown">
							<label class="btn btn-secondary inactive-button" id = "toggle-guessed-Unknown" for="btn-guessed-Unknown">Unknown</label> -->
						</div>
					</center>
					</div>
				</div>
			
		<br/>
		<div class="row" style="background-color:white;width:50%;margin-left:25%;"><br>
					
		<div class="row" style="justify-content:center; padding:2%; ">
			<tr>
				<div class="col-sm-4" style="width:100%; align-content:center;">
					<center>
						 <input id='submit' class="form-control patronInput mainButton enter-button"
							type="submit" value="Submit">
					</center>
				</div>
			</tr>
		</div>
		
		
        </form>
	</div>
        {% include 'footer.html' %}
    </div>
</div>
	
<button id = "bob" class="open-button" onclick="openForm();">Previous Submission</button>

<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
	
	<div class="container-fluid">
		<div id="resulto"></div>
	</div>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
<div class="container-fluid">
	<div id="results"></div>
</div>


<script>
function openForm() {
	var bo = validateForm();
	if (bo == false) {
		return;
	}
  document.getElementById("myForm").style.display = "block";
  $(document).ready(function () {
    $(document).on('click', '.refresher', function () {
		getResults();
        $.ajax({
            url: 'ajax.php',
            method: get,
            dataType: 'json',
            success: function(response) {
                $('#table-to-refresh').html(response);
            }
        });
    });
});
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src = "/static/js/moreoptionbuttons.js">
</script>
<!-- <div class="col-sm-3"><input type="text" class="form-control" id="dept" placeholder="Department" autoFocus></div> -->
<script>
	'use strict';
	function validateForm() {
		
		var x = document.cookie.value;
		let ca = document.cookie.split(';');
		console.log(ca)
		let c = ca[0];
		if (c[0] != 'n'){
			c = ca[1]
		}
		let a = c.split('=');
		let ac = a[1];
		if (ac == '0') {
		alert("You have made 0 submissions so far.");
			return false;
		}
		return true;
	}
	function handleResponse(response)
	{
		$('#results').html(response);
	}
	let request = null;
	function setup()
	{
		$(document).on('load', getResults);
		$('#dept').on('input', getResults);
		getResults();
	}
	$('document').ready(setup);
</script>


<script>
	'use strict';
	function handleResponse(response)
	{
		$('#resulto').html(response);
	}
	request = null;
	function getResults()
	{
		
		let ca = document.cookie.split(';');
		console.log("CA", ca)
		let c = ca[1];
		if (c[0] != 'm'){
			c = ca[0];
		}
		let a = c.split('"');
		let ac = a[1];
		console.log("AC", ac)
		let meal = encodeURIComponent(ac);
		console.log("MEAL", meal)
		let url = '/getlastpatron?mealsite='+meal
		console.log(url)
		//let url = '/getlastpatron?mealsite='+'Architects%20Housing'
		if (request!= null)
			request.abort();
		request = $.ajax(
			{
				type: 'GET',
				url:url,
				success: handleResponse
			}
		);
	}
	function setup()
	{
		getResults();
	}
	$('document').ready(setup);
</script>
</html>

<style>
	/* .btn-secondary.active {
		background-color: #ff9f46;
	} */
	.btn-group-vertical {
		width: 120.5px;
	}

	.btn-secondary.checked, .btn-check:checked+.btn-secondary {
		background-color: #ff9f46;
	}

	.inactive-button {
		background-color: #145078;
	}
	
	.special-container{
		display: table;
		height: 100%;
	}

	.vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	}

	.active-recur-config {
		display: block !important;
	}

	.inactive-recur-config {
		display: none !important;
	}
	/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
	body {
	
	background-color: #145078;
	}

</style>
<style>
	html {
	  height: 100%;
	}
	body {
	  /* background: url(https://i.ibb.co/YBWpstC/indexb.jpg) no-repeat center center fixed; */

	  background-size: auto 100%;
	  background-repeat: no-repeat;
	  background-position: center center;
	  /* background-color: #145078; */
	}
  </style>