


<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body>
    {% include 'admin_header.html' %}
    <h1 style="color:white;padding-top: 2%;
    padding-bottom: 2%;"><center>{{role}} Users </center></h1>
    
    <div class = container-fluid style="width: 40%; margin-left:30%; background-color:white; position: absolute; padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;"
           align = "justify" >
   
           <center>{{ table|safe }}</center>
           <label for="user"><b>Delete User</b></label>
    <input placeholder="Delete User"  required><div style="width:68%;margin-left:16%">
        <button type="submit" class="username">Delete User</button></div>
  </div>
  <div>
    <div>
        {{success}}
    </div>
  </div>
 
    <!-- {% include 'footer.html' %} -->
  </body>
</html>

<style>
  html {
    height: 200%;
  }
  body {
    /* background: url(https://i.ibb.co/YBWpstC/indexb.jpg) no-repeat center center fixed; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#80c0ea;
  }
</style>
