<!DOCTYPE html>
<html>
  <head>
    <title>TASK.com</title>
    {% include 'imports.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    <div class = container-fluid style="width:70%;background-color:white; margin-left: 15% ;position: absolute; padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);" align = "justify" >
    <h1><center>View Users </center></h1>
    <hr>
      <br />
      <div class="row" style="margin-left: 15% ;width:70%;">
        <center>
          <input
            id="volunteerloginbtn"
            class="form-control dark-blue enter-button"
            type="button"
            onclick="location.href='/users?role=representatives';"
            value="Representatives"
          />
          <br/>
          <input
          id="volunteerloginbtn"
          class="form-control dark-blue enter-button"
          type="button"
          onclick="location.href='/users?role=admininistrators';"
          value="Administrators"
        />
        </center>
      </div>
      <br />
      <div class="row"style="margin-left: 15% ;width:70%;">
        <center>
          <input
            id="adminloginbtn"
            class="form-control orange enter-button"
            type="button"
            onclick="location.href='/users?role=all';"
            value="All Users"
          />
          <!-- <a id='adminloginbtn' class="btn btn-primary btn-lg dark-blue enter-button"
                    href='/admin' role="button">Admin</a> -->
        </center>
      </div>
      <!-- <a href="/logout"> Logout! </a> -->
    </div>
  </div>
    <!-- {% include 'footer.html' %} -->
  </body>
</html>

<style>
  html {
    height: 200%;
  }
  body {
    /* background: url(https://i.ibb.co/YBWpstC/indexb.jpg) no-repeat center center fixed; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #145078;
  }
</style>
