<!-------------------------------------------------------------------------
submitpatrondata.html
Author: Vicky Feng
Sets up HTML page to input patron data
-------------------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <title>TASK.com</title>
    </head>
    <body>
        {% include 'header.html' %}
        <iframe src="/dashapp" width = "100%" height = "500" frameBorder = "0"></iframe>
        <div style="margin-top: 10px;">
            <h2>Patron Graphs</h2>
            <iframe src="/graphapp" width = "100%" height = "500" frameBorder = "0"></iframe>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
<!-- <a href="/dashapp/" class="dash-link">
    <span>Login</span>
</a> -->
